html,
body,
body > .container {
  height: 100%;
  color: #fff;
  background: #424242;
}
a{
  background: #007bff;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

a:hover{
  color: #000;
}

body {
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hidden{
    display: none;
  }

  .post{
    margin: 1% 0px;
    border: 1px solid #000;
    background-color:rgba(0,0,0,0.3);
    padding: 1%;

  }

  .post:hover{
    background-color:rgba(0,0,0,0.6);
  }

  .comment{
    margin: 1% 0px;
    border: 1px solid #000;
    background-color:rgba(0,0,0,0.3);
    padding: 1%;

    &.child-comment{
      margin-left: 5%;
    }
  }
}
