html,
body,
body > .container {
  height: 100%;
}

body {
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hidden{
    display: none;
  }

  .post{
    margin: 1% 0px;
    border: 1px solid #000;
    background-color:rgba(0,0,0,0.3);
  }

  .post:hover{
    background-color:rgba(0,0,0,0.6);
  }

  .comment{
    margin: 1% 0px;
    border: 1px solid #000;
    background-color:rgba(0,0,0,0.3);

    .add-comment{
    }
  }
}
